.options_table table {
    width: 100%;
}

.options_table tr,
.options_table th,
.options_table td {
    border: none;
    padding: 5px;
}

.options_table th {
    background: #f5f5f9;
    padding: 10px 10px;
}

#options_list .actions i {
    cursor: pointer;
}

.section-header {
    background: #f5f5f9;
    padding: 15px 10px;
    border-radius: 0.375rem;
}

.card section {
    margin-bottom: 25px;
}

.control-group .text-danger {
    font-size: small;
}

.swatch-picker input {
    -webkit-appearance: none;
    border-radius: 10px;
    border: none;
    height: 38px;
    width: 100%;
    padding: 0.4375rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.53;
    cursor: pointer;
    border-radius: 0.375rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.swatch-picker input::-webkit-color-swatch {
    border: none;
    border-radius: 0.375rem;
    padding: 0;
}

.swatch-picker input::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 0.375rem;
    padding: 0;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem 1.5rem;
}

.section-body {
    padding: 0 15px;
}

#modal-overlay {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(134 134 134 / 30%);
    z-index: 2;
    cursor: pointer;
    border-radius: 0.5rem;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}



.form-control.has-error {
    border: 1px solid red;
}

.has-error::placeholder {
    color: #ff000094;
    opacity: 1;
    /* Firefox */
}

.has-error:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ff000094;
}

.has-error::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ff000094;
}

.card-header {
    padding: 1rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 0 solid #d9dee3;
}

div.dataTables_wrapper div.dataTables_filter {
    padding-right: 1rem;
}

.dataTables_length {
    padding-left: 1rem;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: .85em;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

div.dataTables_wrapper div.dataTables_paginate {
    padding-right: 1rem;
    padding-bottom: 1rem;
}

