.page-item.first .page-link,
.page-item.last .page-link,
.page-item.next .page-link,
.page-item.prev .page-link,
.page-item.previous .page-link {
    padding: 10px;
}

.nav-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem 1.25rem 0;
}

.text-danger {
    font-size: 0.8rem;
}

.nav-pagination .label {
    font-size: 13px;
}

.nav-pagination .btn-group {
    margin: 0 10px;
}

.nav-pagination .dropdown-toggle,
.nav-pagination .dropdown-toggle:active,
.nav-pagination .dropdown-toggle:focus,
.nav-pagination .dropdown-toggle:visited {
    border-radius: 25px;
    color: #697a8d;
    background-color: #f0f2f4;
    border: 0px solid #d9dee3;
}

.nav-pagination .dropdown-toggle:hover {
    color: #697a8d !important;
    background-color: #e1e4e8 !important;
    border-color: rgba(67, 89, 113, 0.3) !important;
    transform: translateY(0px);
    box-shadow: none;
}

.pagination .btn {
line-height: 1.3125rem;
}
.pagination .page-item .page-link {
border-radius: 2rem;
}

.nav-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
